<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>录像查询 - <%=@spot.name%></title>
	<link href="/stylesheets/records_query.css" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/dhtmlgoodies_calendar.css" media="screen"></link>
	<script type="text/javascript" src="/javascripts/prototype.js"></script>
	<script type="text/javascript" src="/javascripts/dhtmlgoodies_calendar.js"></script>
	<script type="text/javascript" src="/javascripts/record_query.js"></script>
</head>

<body>
	<div id="main">
	<form id="form" method="post" action="/records/query/<%=@spot.id%>">
		<span class="title">录像查询 - <%=@spot.name%> </span>
		<div style="float:right;">
		<% if @role == 'su' %>
			<input type="button" value="删除该监控点的全部录像文件" style="margin-right:10px" onclick="remove_record_files(<%=@spot.id%>)"/>
		<%	end %>
		请选择查询日期 
		<input type="text" id="date" value="<%=@date%>" name="date" style="text-align:center;cursor:pointer" size="16" maxlength="16" readonly="true" onclick="displayCalendar(document.forms[0].date,'yyyy-mm-dd',this,false)"/> 
		<input type="submit" value="查询" style="width:100px;"/>
		</div>
	</form>
	<div id="canvas">
	<% for hour in 0..23 %>
		<div class="hours">
			<div class="hour"><%=hour.to_s.rjust(2,'0')%>:00</div>
			<% for min in 1..59 %>
				<div class="min"><%=min.to_s.rjust(2,'0')%></div>
			<% end %>
		</div>
	<% end %>
	<% @records.each do |record|
		startHour = record['startHour'].to_i
		startMin = record['startMin'].to_i
		endHour = record['endHour'].to_i
		endMin = record['endMin'].to_i
		startMin1 = startMin
		midHour = startHour
		
		while midHour <= endHour
			endMin1 = endMin
			endMin2 = endMin
			endHour2 = midHour
			if midHour < endHour
				endMin1 = 60
				endMin2 = 0		
				endHour2 = midHour + 1
			end
			width = (endMin1 - startMin1) * 20 - 2
			if width > 0
				top = midHour * 36 + 18
				left = startMin1 * 20 + 35	
				title = "#{midHour.to_s.rjust(2,'0')}:#{startMin1.to_s.rjust(2,'0')}-#{endHour2.to_s.rjust(2,'0')}:#{endMin2.to_s.rjust(2,'0')}"
		%>
		<div class="time_clip" style="width:<%=width%>px;top:<%=top%>px;left:<%=left%>px;background-color:rgb(<%=rand(128)%>,<%=rand(128)%>,<%=rand(128)%>)" onclick="var play = window.open('/records/play?title=<%=@date%> <%=title%>&nvr=<%=@nvr%>&pathFile=<%=record['pathFile']%>')" title="<%=title%>">
			<%=title%>
		</div>
		<%
			end
			startMin1 = 0
			midHour += 1
		end
		%>
	<% end %>
	</div>
	</div>
</body>
</html>